:root {
	--black: #0D1117;
	--green: #7EE787;
	--red: #FF7B72;
	--purple: #D2A8FF;
}

$primary-black: #0D1117;
$primary-white: #ffffff;
$primary-green : #7EE787;
$primary-red: #FF7B72;
$primary-purple: #D2A8FF;
$primary-grey: #7D8590;