// Jetbrains Mono Font
@font-face {
  font-family: "jetbrains-mono-extrabold";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "jetbrains-mono-bold";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "jetbrains-mono-semibold";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "jetbrains-mono-medium";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "jetbrains-mono-regular";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "jetbrains-mono-light";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "jetbrains-mono-extralight";
  src: url("../fonts/jetbrains-mono/JetBrainsMono-ExtraLight.ttf");
  font-style: normal;
  font-weight: 100;
}

// Mona Sans Font
@font-face {
  font-family: "mona-sans-extrabold";
  src: url("../fonts/mona-sans/Mona-Sans-Black.woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "mona-sans-bold";
  src: url("../fonts/mona-sans/Mona-Sans-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "mona-sans-semibold";
  src: url("../fonts/mona-sans/Mona-Sans-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "mona-sans-medium";
  src: url("../fonts/mona-sans/Mona-Sans-Medium.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "mona-sans-regular";
  src: url("../fonts/mona-sans/Mona-Sans.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "mona-sans-light";
  src: url("../fonts/mona-sans/Mona-Sans-UltraLight.woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "mona-sans-extralight";
  src: url("../fonts/mona-sans/Mona-Sans-UltraLightWide.woff");
  font-style: normal;
  font-weight: 100;
}